
.profile {

}

.profileIcon {
    width: 99.4%;
    height: 130px;
    border: 3px solid black;

}

.usersProfileBox {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #a24848;
}

.profileInfo {
    display: flex;
    flex-direction: column;
}

.profileFullName {
    font-weight: bold;
    font-size: 26px;
    padding-bottom: 20px;
}

.profileDescription {
    padding-left: 50px;
}