.navbar {
    grid-area: n;
    background-color: #406d73;
    padding-top: 15px;
}

 .navbarNav a {
    margin-left: 30px;
    color: white;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
    text-decoration: none
}

.navbarNav:hover {
    opacity: 0.5;
}

.navbarNav a.active {
    color: gold
}
