.dialogs {
    display: grid;
    grid-template:
            "d m" 1fr / 1fr 5fr;
    height: 100%;
    grid-gap: 15px;
}
.dialogs-items {
    grid-area: d;
    background-color: #A9A9A9;
    padding: 15px 0px 0px 25px;

}
.dialogs-items a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
}

.dialogs-items a:hover {
    color: white;
}

.dialogs-items a.active {
    color: red;
}